.control-zoom-panel {
  margin: 10px;
}

.control-panel {
  font-family: "UberMove";
  font-size: 15px;
  line-height: 18px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  padding: 15px 24px;
  outline: none;
  cursor: auto;
}

.pin {
  height: 100%;
}

.title {
  padding: 5px;
}