body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.marker {
  transform: translate(-50%, -100%);
}

.marker.red path,
.error {
  fill: #f05305;
}
.pin {
  height: 100%;
}

.marker.yellow {
  fill: #f3b73e;
  height: 50px;
  width: 50px;
}

.popup {
  width: 40vw;
  padding: 1rem;
}

.popup img {
  height: 200px;
  width: -webkit-fill-available;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.mapboxgl-popup {
  z-index: 9999;
}

.zoom-control {
  width: 30px;
  margin: 10px;
}

.geolocateStyle {
  top: 0;
  left: 0;
  padding: "10px";
  position: "absolute";
}

.fullscreenControlStyle {
  top: 36;
  left: 0;
  padding: "10px";
  position: "absolute";
}

.navStyle {
  top: 72;
  left: 0;
  margin-top: 5px;
  padding: "10px";
  position: "absolute";
}

.scaleControlStyle {
  bottom: 36;
  left: 0;
  padding: "10px";
  position: "absolute";
}

h3 {
  margin-block-start: auto;
}

.control-panel {
  font-family: "UberMove";
  font-size: 15px;
  line-height: 18px;
  width: 230px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 15px 24px;
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
  cursor: auto;
}

.entry-form .button-entry {
  width: 410px;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  color: #f05305;
  box-shadow: cadetblue;
  transition: all 0.2s;
  cursor: pointer;
}

.entry-form .button-entry:hover {
  border-color: rgba(255, 255, 255, 1);
}
